<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Book Store</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/stsm.css" th:href="@{/css/stsm.css}" />
</head>

<body>
	<h1>Book Store</h1>
	<div class="booklist">
		<h2 th:text="#{title.list}">List of books</h2>
		<table border=1 cellspacing=0>
			<thead>
				<tr>
					<th th:text="#{bk.title}">Title</th>
					<th th:text="#{bk.ISBN}">ISBN</th>
					<th th:text="#{bk.price}">Price</th>
					<th th:text="#{bk.author}">Author</th>
					<th th:text="#{bk.publishedDate}">Published date</th>
					<th th:text="#{bk.editorial}">Editorial</th>
					<th th:text="#{bk.onsale}">On Sale</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bk : ${allBooks}">
					<td th:text="${bk.title}">Title</td>
					<td th:text="${bk.ISBN}">ISBN</td>
					<td th:text="${bk.price}">Price</td>
					<td th:text="${bk.author}">Author</td>
					<td th:text="${bk.publishedDate}">Published date</td>
					<td th:text="${bk.editorial}">Editorial</td>
					<td th:text="#{${'bk.isOnSale.' + bk.isOnSale}}">IsOnSale</td>
					<td>
						<a th:href="@{{id}(id=${bk.id})}">
							<button type="submit" name="edit" th:text="#{bk.edit}">Edit book</button>
						</a>
						</td>
					<td><form action="#" th:action="@{delete}" method="post">
							<input type="hidden" name="id" th:value="${bk.id}" />
							<button type="submit" name="delete" th:text="#{bk.deletebook}">Delete
								book</button>
						</form></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
	<br>
		<a href="create">
			<button th:text="#{bk.createbook}">Create book</button>
		</a>
	</div>
</body>
</html>