<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Book Store</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/stsm.css" th:href="@{/css/stsm.css}" />
</head>

<body>
	<h1>Book Store</h1>
	<div class="booklist">
		<h2 th:text="#{title.edit}">Edit Book</h2>
		<form action="#" th:action="@{saveEditedBook}" th:object="${book}"
			method="post">
			<input type="hidden" th:field="*{id}"/>
			<fieldset>
				<table>
					<tr>
						<td><label th:text="#{bk.title}">Title</label></td>
						<td><input type="text" th:field="*{title}"/></td>
					</tr>
					<tr>
						<td><label th:text="#{bk.ISBN}">ISBN</label></td>
						<td><input type="text" th:field="*{ISBN}" /></td>
					</tr>
					<tr>
						<td><label th:text="#{bk.price}">Price</label></td>
						<td><input type="text" th:field="*{price}" /></td>
					</tr>
					<tr>
						<td><label th:text="#{bk.author}">Author</label></td>
						<td><input type="text" th:field="*{author}" /></td>
					</tr>
					<tr>
						<td><label th:text="#{bk.editorial}">Editorial</label></td>
						<td><input type="text" th:field="*{editorial}" /></td>
					</tr>
					<tr>
						<td><label th:text="#{bk.onsale}">On Sale</label></td>
						<td><input type="checkbox" th:field="*{isOnSale}" /></td>
					</tr>
					<tr>
						<td>
							<button type="submit" name="saveEditedBook" th:text="#{bk.editbook}">Edit
								Book</button>
						</td>
					</tr>
				</table>
			</fieldset>
			<div th:object="${book}" th:remove="tag">
				<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
					role="alert">
					<li th:each="error : ${#fields.errors('*')}" th:text="${error}" style="color:#FF0000"></li>
				</ul>
			</div>
		</form>
	</div>
</body>
</html>